In [1]:
from gurobipy import GRB, Model, quicksum
import gurobipy as gb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker

In [16]:
food_categories = pd.read_csv('https://raw.githubusercontent.com/mn42899/operations_research/refs/heads/main/food_categories.csv')
food_preferences = pd.read_csv('https://raw.githubusercontent.com/mn42899/operations_research/refs/heads/main/food_preferences.csv')
non_profits = pd.read_csv('https://raw.githubusercontent.com/mn42899/operations_research/refs/heads/main/non_profits.csv')
nurse_shifts = pd.read_csv('https://raw.githubusercontent.com/mn42899/operations_research/refs/heads/main/nurse_shift_costs.csv')
nutrient_contents = pd.read_csv('https://raw.githubusercontent.com/mn42899/operations_research/refs/heads/main/nutrient_content.csv')
nutrient_requirements = pd.read_csv('https://raw.githubusercontent.com/mn42899/operations_research/refs/heads/main/nutrient_requirements.csv')
sp500 = pd.read_csv('https://raw.githubusercontent.com/mn42899/operations_research/refs/heads/main/sp500_data.csv')
routes = pd.read_csv('https://raw.githubusercontent.com/mn42899/operations_research/refs/heads/main/Routes.csv')
sunnyshore_financials = pd.read_csv('https://raw.githubusercontent.com/mn42899/operations_research/refs/heads/main/sunnyshore_financials.csv')
sunnyshore_interest = pd.read_csv('https://raw.githubusercontent.com/mn42899/operations_research/refs/heads/main/sunnyshore_interest_rates.csv')
vaccines = pd.read_csv('https://raw.githubusercontent.com/mn42899/operations_research/refs/heads/main/transportation_costs.csv')

# QUESTION 1 - VACCINES

In [17]:
vaccines

                             Airport   1-5  6-10  11-15  16-20  21-25  26-29
0  Billy Bishop Toronto City Airport  0.05  0.06   0.07   0.08   0.09   0.10
1            Toronto Pearson Airport  0.08  0.05   0.09   0.10   0.07   0.06

# QUESTION 2 - SP500

In [7]:
sp500

,Ticker symbol,Company,GICS Sector,Location of Headquarters,Price,PercentReturn
0,AEE,Ameren Corp,Utilities,"St. Louis, Missouri",31.26,4.83
1,AXP,American Express Co,Financials,"New York, New York",49.23,1.53
2,T,AT&T Inc,Telecommunications Services,"Dallas, Texas",30.09,5.82
3,AVP,Avon Products,Consumer Staples,"New York, New York",18.31,5.26
4,BFB,Brown-Forman Corporation,Consumer Staples,"Louisville, Kentucky",82.28,1.74
...,...,...,...,...,...,...
62,X,United States Steel Corp.,Materials,"Pittsburgh, Pennsylvania",28.96,0.76
63,UTX,United Technologies,Industrials,"Hartford, Connecticut",77.78,2.63
64,VZ,Verizon Communications,Telecommunications Services,"New York, New York",37.79,4.99
65,WMT,Wal-Mart Stores,Consumer Staples,"Bentonville, Arkansas",61.39,2.44
66,WHR,Whirlpool Corp.,Consumer Discretionary,"Benton Charter Township, Michigan",54.36,4.21

# QUESTION 3 - ROUTES

In [8]:
routes

                      Routes  Cost
0   [U, a, b, f, e, d, c, U]   136
1      [U, a, b, f, e, d, U]   110
2         [U, a, b, f, e, U]    90
3      [U, a, b, f, d, c, U]   132
4      [U, a, b, f, d, e, U]   118
5         [U, a, b, f, d, U]   106
6   [U, a, c, d, e, f, b, U]   136
7         [U, a, c, d, e, U]    92
8      [U, a, c, d, f, b, U]   132
9      [U, a, c, d, f, e, U]   112
10           [U, a, c, d, U]    80
11     [U, b, a, c, d, e, U]   114
12  [U, b, a, c, d, f, e, U]   134
13        [U, b, a, c, d, U]   102
14           [U, b, a, c, U]    68
15  [U, b, f, e, d, c, a, U]   136
16     [U, b, f, e, d, c, U]   118
17        [U, b, f, e, d, U]    92
18           [U, b, f, e, U]    72
19     [U, b, f, d, c, a, U]   132
20        [U, b, f, d, c, U]   114
21        [U, b, f, d, e, U]   100
22           [U, b, f, d, U]    88
23  [U, c, a, b, f, e, d, U]   124
24     [U, c, a, b, f, e, U]   104
25  [U, c, a, b, f, d, e, U]   132
26     [U, c, a, b, f, d, U]   120
27           [U, c, a, b, U]    68
28  [U, c, d, e, f, b, a, U]   136
29     [U, c, d, e, f, b, U]   118
30           [U, c, d, e, U]    74
31     [U, c, d, f, b, a, U]   132
32        [U, c, d, f, b, U]   114
33        [U, c, d, f, e, U]    94
34  [U, d, c, a, b, f, e, U]   138
35        [U, d, c, a, b, U]   102
36           [U, d, c, a, U]    80
37  [U, d, e, f, b, a, c, U]   124
38     [U, d, e, f, b, a, U]   110
39        [U, d, e, f, b, U]    92
40     [U, d, f, b, a, c, U]   120
41        [U, d, f, b, a, U]   106
42           [U, d, f, b, U]    88
43           [U, d, f, e, U]    68
44     [U, e, d, c, a, b, U]   114
45        [U, e, d, c, a, U]    92
46           [U, e, d, c, U]    74
47  [U, e, d, f, b, a, c, U]   132
48     [U, e, d, f, b, a, U]   118
49        [U, e, d, f, b, U]   100
50  [U, e, f, b, a, c, d, U]   138
51     [U, e, f, b, a, c, U]   104
52        [U, e, f, b, a, U]    90
53           [U, e, f, b, U]    72
54  [U, e, f, d, c, a, b, U]   134
55     [U, e, f, d, c, a, U]   112
56        [U, e, f, d, c, U]    94
57           [U, e, f, d, U]    68

# QUESTION 4 - FOOD CATEGORIES

In [10]:
food_categories

    Food_Item  Is_Vegetarian  Is_Vegan  Is_Kosher  Is_Halal  Cost_per_gram
0      Food_1              1         1          1         1       0.132322
1      Food_2              0         0          0         0       0.157278
2      Food_3              1         1          1         1       0.140415
3      Food_4              0         0          0         0       0.131732
4      Food_5              0         0          1         1       0.113548
..        ...            ...       ...        ...       ...            ...
115  Food_116              0         0          0         0       0.109476
116  Food_117              0         0          1         1       0.182165
117  Food_118              0         0          0         0       0.137191
118  Food_119              1         1          0         0       0.182260
119  Food_120              0         0          0         0       0.153880

[120 rows x 6 columns]

In [15]:
food_preferences

   Veggie_grams  Vegan_grams  Kosher_grams  Halal_grams  All_grams
0       46160.0      11540.0       17310.0      92320.0     577000

In [13]:
nutrient_contents

,Unnamed: 0,Nutrient_1,Nutrient_2,Nutrient_3,Nutrient_4,Nutrient_5,Nutrient_6,Nutrient_7,Nutrient_8,Nutrient_9,...,Nutrient_51,Nutrient_52,Nutrient_53,Nutrient_54,Nutrient_55,Nutrient_56,Nutrient_57,Nutrient_58,Nutrient_59,Nutrient_60
0,Food_1,0.007527,0.005512,0.009605,0.006796,0.004815,0.006458,0.001173,0.003714,0.006942,...,0.005689,0.001489,0.002800,0.001167,0.008143,0.003015,0.004108,0.009353,0.007340,0.001287
1,Food_2,0.002482,0.006593,0.006195,0.003141,0.009408,0.006526,0.005821,0.006309,0.007571,...,0.003285,0.002920,0.005664,0.001231,0.002867,0.004822,0.004368,0.005172,0.003499,0.006281
2,Food_3,0.008775,0.002058,0.005656,0.002189,0.007452,0.004565,0.006089,0.002650,0.002304,...,0.004317,0.002232,0.008399,0.002709,0.005602,0.003019,0.001881,0.008760,0.009756,0.009648
3,Food_4,0.009159,0.007966,0.003998,0.001730,0.004665,0.003090,0.002192,0.001481,0.007530,...,0.006810,0.001318,0.004874,0.005590,0.005826,0.007133,0.003498,0.002160,0.004534,0.009608
4,Food_5,0.002684,0.009136,0.005894,0.005112,0.008938,0.005127,0.007518,0.004591,0.009136,...,0.001140,0.004859,0.001613,0.003267,0.002990,0.003279,0.002179,0.001108,0.002039,0.006566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Food_116,0.002451,0.008111,0.009838,0.001967,0.008573,0.005408,0.001463,0.005692,0.005337,...,0.007032,0.004821,0.007372,0.006519,0.004974,0.005941,0.006383,0.008912,0.007092,0.007424
116,Food_117,0.009729,0.001609,0.002689,0.003863,0.009515,0.003057,0.006086,0.002060,0.003436,...,0.006986,0.009281,0.006644,0.008465,0.007158,0.009525,0.004665,0.007955,0.005583,0.001445
117,Food_118,0.001119,0.004826,0.006940,0.008769,0.001294,0.009477,0.008963,0.008863,0.006784,...,0.001702,0.005247,0.006531,0.009452,0.009291,0.006467,0.005524,0.006854,0.009325,0.009918
118,Food_119,0.001298,0.009726,0.008229,0.001675,0.008202,0.006964,0.009152,0.005120,0.005530,...,0.006204,0.001681,0.003823,0.009844,0.006520,0.004778,0.009241,0.004252,0.007724,0.002316
119,Food_120,0.007274,0.005423,0.004822,0.003084,0.009887,0.002113,0.002831,0.004397,0.002180,...,0.006791,0.003754,0.008783,0.006342,0.004496,0.003900,0.002023,0.006492,0.008043,0.004802

In [14]:
nutrient_requirements

       Nutrient  Min_Requirement  Max_Requirement
0    Nutrient_1      3831.321698      8474.081720
1    Nutrient_2      2251.071301      8403.640809
2    Nutrient_3      2975.778588      9619.196273
3    Nutrient_4      3284.851614      9534.776337
4    Nutrient_5      3139.208223      9622.440982
5    Nutrient_6      3778.988620      9514.680273
6    Nutrient_7      3368.066911      8191.724092
7    Nutrient_8      3650.066262      9765.756832
8    Nutrient_9      3324.251821      8755.235098
9   Nutrient_10      2688.486944      8439.329026
10  Nutrient_11      2545.167593      9135.133922
11  Nutrient_12      2699.922686      8691.729513
12  Nutrient_13      2816.356288      9419.739549
13  Nutrient_14      3653.614947      9389.237224
14  Nutrient_15      3421.872102      9700.214906
15  Nutrient_16      3653.684729      9987.117115
16  Nutrient_17      3850.272792      9599.127860
17  Nutrient_18      3629.594318      8283.097944
18  Nutrient_19      3924.555150      9525.285590
19  Nutrient_20      3899.722879      9133.799077
20  Nutrient_21      2641.923569      9126.362482
21  Nutrient_22      2784.614119      8674.491291
22  Nutrient_23      3150.411589      8321.465962
23  Nutrient_24      3381.092393      8346.103882
24  Nutrient_25      2929.411342      8115.199013
25  Nutrient_26      3575.538057      9610.699650
26  Nutrient_27      3264.013626      9487.896856
27  Nutrient_28      3191.740558      9713.457216
28  Nutrient_29      2290.790238      9408.286260
29  Nutrient_30      2342.628861      8335.572006
30  Nutrient_31      2626.574458      9471.918040
31  Nutrient_32      3924.950008      9115.703863
32  Nutrient_33      2152.420696      8217.345907
33  Nutrient_34      3920.502475      9810.244699
34  Nutrient_35      2954.214463      9804.634205
35  Nutrient_36      2871.922506      9255.728409
36  Nutrient_37      3693.759728      8839.282440
37  Nutrient_38      3662.952296      8475.848206
38  Nutrient_39      2267.968018      8195.201051
39  Nutrient_40      3623.488800      9611.998998
40  Nutrient_41      3021.406725      9933.506156
41  Nutrient_42      2646.254190      8028.081264
42  Nutrient_43      2216.758458      8958.722574
43  Nutrient_44      3184.455477      8212.071575
44  Nutrient_45      3560.663012      8837.078084
45  Nutrient_46      3771.349031      9161.225589
46  Nutrient_47      3943.238206      8858.201321
47  Nutrient_48      2246.377042      8034.446966
48  Nutrient_49      2793.568001      9975.689535
49  Nutrient_50      2097.352919      9851.608521
50  Nutrient_51      3271.487967      9544.746215
51  Nutrient_52      3775.339219      8801.361798
52  Nutrient_53      3374.526138      9378.980363
53  Nutrient_54      2777.418272      9419.536753
54  Nutrient_55      3519.847712      8680.509282
55  Nutrient_56      3993.225886      8079.373028
56  Nutrient_57      2002.244079      9244.629034
57  Nutrient_58      3656.111621      9896.167491
58  Nutrient_59      2652.543234      9495.574580
59  Nutrient_60      3494.132941      8455.974777

# QUESTION 5 - NON-PROFITS

In [9]:
non_profits

       alpha_i     beta_i
0    54.881350  16.469416
1    71.518937  62.147840
2    60.276338  57.722859
3    54.488318  23.789282
4    42.365480  93.421400
..         ...        ...
175  22.392469  68.139251
176  34.535168  27.759610
177  92.808129  12.886057
178  70.441440  39.267568
179   3.183893  95.640572

[180 rows x 2 columns]

# QUESTION 6 - NURSE SHIFTS

In [11]:
nurse_shifts

    Nurse_ID Category  Cost_Weekday  Cost_Weekend  Cost_Overtime
0          1      SRN           150           180            248
1          2       RN           360           432            594
2          3      SRN           600           720            990
3          4       RN           120           144            198
4          5       RN           240           288            396
5          6      NIT           320           384            528
6          7      SRN           600           720            990
7          8      NIT           320           384            528
8          9      SRN           150           180            248
9         10      SRN           300           360            495
10        11      SRN           300           360            495
11        12      NIT           160           192            264
12        13       RN           120           144            198
13        14      NIT           240           288            396
14        15      NIT           400           480            660
15        16      SRN           600           720            990
16        17       RN           480           576            792
17        18       RN           360           432            594
18        19       RN           600           720            990
19        20       RN           360           432            594
20        21      SRN           150           180            248
21        22       RN           120           144            198
22        23      SRN           750           900           1238
23        24      SRN           150           180            248
24        25       RN           600           720            990
25        26      NIT           160           192            264

# QUESTION 7 - SUNNYSHORE BAY

In [18]:
sunnyshore_financials

    Month  Revenues  Expenses
0     May    180000    300000
1    June    260000    400000
2    July    420000    350000
3  August    580000    200000

In [19]:
sunnyshore_interest

       Term  Interest Rate (%)
0   1-month               1.75
1  2-months               2.25
2  3-months               2.75